#container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 1rem;
    height: 0.15rem;
    margin-bottom: 1.5px;
    background-color: white;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0.15rem, 0.15rem) ;
    transform: rotate(-45deg) translate(-0.15rem, 0.15rem) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-0.2rem, -0.2rem) ;
    transform: rotate(45deg) translate(-0.2rem, -0.2rem) ;
  }

  .change #menu {
    display: block;
  }

  @media (min-width: 280px) and (max-width: 320px) { 
    #header { 
      width: 100%;
    }
  }