@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-datepicker-wrapper {
  width: 6rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 6rem;
}

.react-datepicker {
  position: absolute;
  top: 0px;
  left: 0px;
}

.react-datepicker__header {
  background-color: white !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  background-color: #007bc7 !important;
  border-radius: 1rem !important;
}

.react-datepicker__today-button {
  background-color: #007bc7 !important;
  color: white;
}
